html{
    font-size: 62.5%;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Nunito Sans', sans-serif;
}

/* Navbar CSS */

.navigation_header{
    width: 100vw;
    line-height: 5rem;
    background: #f8f9fa;
}
.navbar-brand{
    font-size: 1.7rem;
    color: black;
}

.nav-item{
    font-size: 1.7rem;
    margin-left: 0.8rem;
    color: #6c757d;
}

.navbar-nav{
    padding-left: 3rem;
}

.navbar-nav .nav-item a .nav-link{
    color: #6c757d;
    padding: 0.5rem 0;
}

.dropdown-menu .dropdown-item{
    font-size: 1.7rem;
    color: #6c757d;
}

.dropdown-menu .dropdown-item:active{
    background-color: #e4e7eb;
}

a{
    text-decoration: none;
    color:#0000008C;
}
a:hover{
    color: black;
}

.signIn_btn{
    font-size: 1.7rem;
    line-height: 3.5rem;
    padding: 0.1rem 2rem;
    border-radius: 33px;
    outline: none;
    background: white;
    border-color:#809fff;

}

.signIn_btn:hover{
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,14,214,1) 0%, rgba(111,215,236,1) 100%);
}


/* About us main background image CSS */
.mainBackground{
    height: calc(100vh - 40vh);
    width:100vw;
    background: wheat;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0)), url('../Images/aboutUsBackground.jpg');
    background-size: 100% 100%;
}

.mainBackground p {
    font-weight: bold;
    font-size: 2rem;
    color: white;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.mainBackground h2{
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    position: relative;
    padding-bottom: 2rem;

}

.animateWord div li{
    font-weight: bold;
    padding: 0 0;
    height: 4.5rem;
    margin-bottom: 4.5rem;
    display: block;
}

.animateWord div{
    overflow: hidden;
    position: relative;
    float: right;
    height: 8rem;
    padding-top: 1rem;
    margin-top: -1rem;
}

.flip{
    animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip4 {
    0%{
        margin-top: -360px;
    }
    5%{
        margin-top: -270px;
    }
    25%{
        margin-top: -270px;
    }
    30%{
        margin-top: -180px;
    }
    50%{
        margin-top: -180px;
    }
    55%{
        margin-top: -90px;
    }
    75%{
        margin-top: -90px;
    }
    80%{
        margin-top: 0px;
    }
    99.99%{
        margin-top: 0px;
    }
    100%{
        margin-top: -270px;
    }
}

/* T A H About Us Header CSS */
.aboutUsHeader{
    margin-top: 9rem;
    max-width: 60vw;
}
.aboutUsHeader h2{
    font-size: 2rem;
    font-family: 'Lora', serif;
    color: rgb(85, 82, 82);
    font-style: italic;
}

h2.firstLetterHeader::first-letter{
    color: transparent;
    font-size: 10rem;
    font-family: cursive;
    background-image: url('../Images/messageTemplateBackground1.jpg');
    background-size: 100% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    float: left;   
    display: block;
    font-weight: bold;
    line-height: 0.6;
    margin: 0 0.8rem 0 0;
} 

/* Footer CSS */
.footer {
    bottom: 0;
    width: 100%;
    height: 2.5rem;   
    background: #f8f9fa;        
  }
.footer p{
    font-size: 1.4rem;
    text-align: center;
    text-transform: capitalize;
    line-height: 2.5rem;
}


/* Home page order image content CSS */

.homePageStory{
    margin-top: 8rem;
}

.homePageStoryTitle{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 4rem;
    font-family: 'Lora', serif;
    color: rgb(85, 82, 82);

}
.homePageStory h2{
    font-size: 2rem;
    font-family: 'IBM Plex Serif', serif;
}
.homePageStory p {
    font-size: 1.6rem;
}


/* Media Query */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color:#0000008C;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}